<div class="container">
    <h2>{{model.id ? "Edit Book" : "New Book"}}</h2>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Inserisci il titolo" [(ngModel)]="model.title">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Inserisci la descrizione" [(ngModel)]="model.description">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="description" placeholder="Inserisci la categoria" [(ngModel)]="model.category">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Autore</label>
        <input type="text" class="form-control" id="description" placeholder="Inserisci l'autore" [(ngModel)]="model.author">
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">{{model.id ? "Edit" : "Save"}}</button>
  </div>
  